<h1>Hello make your profile</h1>


<%= simple_form_for(@bbsitter) do |f| %>
<div class="form-inputs">
<%= f.input :first_name %>

<%= f.input :last_name %>

<%= f.input :language %>

<%= f.input :price %>

<%= f.input :city %>

<%= f.input :description %>

<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>

<%= f.input :experience %>

</div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

 <td>
   <% if policy(@bbsitter).destroy? %>
     <%= link_to 'Delete your account', user_registration_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
 </td>
