<div class="wrapper" style="margin-top: -70px;">
<div id="" class="container" align-items>
  <div class="row">
  <div class="col-xs-offset-2  col-xs-9 col-md-offset-3  col-md-9">
  <div id="profile-card" class="card">
<h2><%= @bbsitter.first_name %></h2>
<p><%= cl_image_tag @bbsitter.photo, height: 300, width: 400, crop: :fill %></p>
<p><%= @bbsitter.first_name %></p>
<p><%= @bbsitter.last_name %></p>
<p><%= @bbsitter.price %></p>
<p><%= @bbsitter.age %></p>
<p><%= @bbsitter.city %></p>
<p><%= @bbsitter.description %></p>
<p><%= @bbsitter.experience %></p>
<ul>
</ul>
</div>
</div>
</div>
</div>
</div>
