<h2><%= @bbsitter.first_name %></h2>
<p><%= cl_image_tag @bbsitter.photo, height: 300, width: 400, crop: :fill %></p>
<p><%= @bbsitter.first_name %></p>
<p><%= @bbsitter.last_name %></p>
<p><%= @bbsitter.price %></p>
<p><%= @bbsitter.age %></p>
<p><%= @bbsitter.city %></p>
<p><%= @bbsitter.description %></p>
<p><%= @bbsitter.experience %></p>
<ul>
</ul>

<% if policy(@bbsitter).update? %>
  <%= link_to 'Edit Your Profile', edit_bbsitter_path(@bbsitter) %>
<% end %>
