<h2><%= @bbsitter.first_name %></h2>
<p><%= @bbsitter.first_name %></p>
<p><%= @bbsitter.last_name %></p>
<p><%= @bbsitter.price %></p>
<p><%= @bbsitter.age %></p>
<p><%= @bbsitter.city %></p>
<p><%= @bbsitter.description %></p>
<p><%= @bbsitter.photo %></p>
<p><%= @bbsitter.experience %></p>
<ul>
</ul>
