<h1>Welcome <strong><%=@parent.first_name%></strong></h1>

<ul>
	<li><%=@parent.first_name%></li>
	<li><%=@parent.last_name%></li>
	<li><%=@parent.name_of_kid%></li>
	<li><%=@parent.age_of_kid%></li>
</ul>